---
layout: page
title : Blog
header : Blog
group: navigation
---
{% include JB/setup %}

<hr />
<ul class="posts list-unstyled">

  {% capture post_year1 %}{{ 'now' | date: "%Y" }}{% endcapture %}
  

  <section>
  {% for post in site.posts %}
    {% capture post_year2 %}{{ post.date | date: "%Y" }}{% endcapture %}

	{% if post_year1 != post_year2 %}
		{% assign post_year1 = post_year2 %}
		</section>
		
		<section>
  {% endif %}

	<li>
		<h4>
			<small style="float: right; margin-top: 4px">{{ post.date | date_to_string }}</small>
			<a href="{{ BASE_PATH }}{{ post.url }}" >{{ post.title }}</a> 
		</h4>
	</li>
  {% endfor %}
  </section>
</ul>
