.container {
	margin-top: 50px;
}
a {
	.transition (all 1s ease-in-out);
}
.sidebar {
	.nav-list > li > a {
	  margin-bottom: -1px; // pull up the following link for a 1px border between
	  border-right:0;
	  border-left: 0;
	  margin-right: -9px;
	  margin-left: -10px;
	  color: #777;
	}
	.nav-list > .active > a,
	.nav-list > .active > a:hover,
	.nav-list > .active > a:focus {
	  color: @grayDark;
	  background-color: @grayLighter;
	  border-color: darken(@grayLighter, 5%);
	}
}
.nav-social {
	margin-top: 4px;
	
	& > li > a {
		color: @gray;
		font-size: 16px;
		padding: 4px;
	}
}
.sidebar-style {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #F5F5F5;
	border-right: 1px solid #CCC;
	z-index: -1;
}
hr {
	border-top: 0;
	border-bottom: 1px solid darken(@body-background, 5%);
}
.led-head {
	opacity: 0.5;
	.transition (all 1s ease-in-out);
	
	&:hover {
		opacity: 0.9;
	}
}
.header {
	position: relative;
}
.avatar {
	position: absolute;
	left: 34%;
	top: -5%;
	width: 30%;
	border: 3px solid #FFF;
	max-width: 220px;
	border-radius: 100%;
}
.small {
	font-size: 0.5em;
}
section {
	margin: 0 0 2em 0;
}
.header-color {
	background-color: @link-color;
	color: #FFF;
	padding: 40px 30px;
	margin: 0 0 10px 0;
}
.list-inline {
	.img-thumbnail {
		margin-right: 5px;
		margin-bottom: 5px;
		width: 100px;
	}
}
.list-labels {
	margin-bottom: 0;
	li {
		margin-bottom: 4px;
	}
}
footer {
	.nav-pills {
		a {
			padding: 5px 10px;
			&:hover {
				opacity: 0.5;
			}
			&.active {
				background: transparent;
				color:  darken(@body-background, 15%);
			}
		}
		li.active a:hover {
			color:  darken(@body-background, 15%);
		}
	}
	div {
		font-size: 12px;
	}
}
@media (min-width: 768px) and (max-width: 1080px) {
	.list-inline {
		.img-thumbnail {
			width: 70px;
		}
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.header {
		font-size: 80%;
		
		.well {
			margin-bottom: 5px;
		}
	}
}